/* src/components/FormComponent.css */
.form-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-row {
    display: flex;
    gap: 20px;
    align-items: center;
}

.form-label {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: small;
    font-weight: bold;
}

.form-input {
    width: 100%;
    padding: 5px;
    border: 1px solid #cccccc00;
    border-radius: 4px;
    font-size: 15px;
}

.form-heading {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
}
